:root{
  --white : rgb(240,217,181);
  --black : rgb(181,136,99);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.square {
  width: 100px;
  height: 100px;
  /* border: 1px solid rgb(46, 46, 46); */
}
.square:hover {
  border: 1px solid rgb(46, 46, 46);
  scale: 1.1;
  transition: 0.1s;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 400px;
  height: 300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
